#editor { 
    height: 100%;
}

.ace_content {
    background-color: #ebedf296;
}
.ace_print-margin{
	display: none;
}

@media (min-width: 1px) and (max-width: 991px) {
	#editor{
		position: relative;
		top: 20px;
	}
}
