* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow:  hidden;
}
::-webkit-input-placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.25 !important;
  color: #fff !important;
}
:-moz-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.25 !important;
  color: #fff !important;
}
:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.25 !important;
  color: #fff !important;
}
html,
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 19px;
  background-color: #fff;
  color: #171b1f;
  position: relative;
  line-height: 1;
  font-weight: 300;
}
h1,
.h1{
  font-size: 38px;
  margin: 10px 0 20px;
}
h2,
.h2{
  font-size: 32px;
  margin: 10px 0 15px;
}
h2 span,
.h2 span{
  font-size: 28px;
  margin-left: 5px;
  font-weight: 400;
}
h3,
.h3{
  font-size: 22px;
  margin: 15px 0 20px;
}
h3 span,
.h3 span{
  font-weight: normal;
  margin-left: 5px;
}
h1, h2,h3
.h1., .h2, .h3{
  font-weight: 900;
}
.boxed-link{
  border-radius: 3px;
  background-color: #11293c;
  color: #a7b2bb !important;
  font-size: 12px !important;
  text-align:  center;
  text-decoration: none;
  margin: 15px 0 0;
  padding: 10px 10px;
}
.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0px;
  zoom: 1;
}
.z-index,
.z-index img{
  z-index: 10005;
  width: 150px;
}
.visible-xs-sm {
  display: none;
}
.visible-xs {
  display: none !important;
}
.hidden-xs-sm {
  display: inline-block;
}
.wrap {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.sr-only {
  display: none;
  padding: 0;
  margin: 0;
  border: 0 none;
}
.header{
  background-color: #091825;
  height: 50px;
  z-index: 10;
  position: relative;
}
.header-top{
  padding: 15px 20px;
}
.header .logo span{
  color: #602584;
  margin-right: 5px;
  font-weight: 600;
}
.header .logo{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.github-buttobs__list{
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.github-buttobs__item{
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.logo img{
  width: 215px;
}
.code-area{
  height: 100%;
  position: absolute;
  top: 0px;
  right: 215px;
  left: 0;
  padding-top: 50px;
}
.code-area_left{
  background-color: #ebedf296;
  overflow-x: scroll;
  padding: 0px;
}
.code-area_right{
  background-color: #fff;
}
#output{
  padding: 10px 20px;
  height: 100%;
  overflow-x: scroll;
}
.code-box{
  width: 50%;
  position: relative;
  height: 100%;
  transition: all 100ms linear;
  float: left;
  font-size: 12px;
}
.code-area_top{
  height: 40px;
  position: relative;
  z-index: 10000;
}
.code-area_left .code-area_top{
   background-color: #03101de8;
}
.code-area_right .code-area_top{
   background-color: #091826e8;
}
.code-box__title{
  width: 100%;
  position: relative;
  height: 100%;
  transition: all 100ms linear;
  float: left;
  color: #a4aeb7;
  padding: 0px 20px;
}
.code-box__title h2{
  padding: 10px 0;
  font-size: 15px;
  margin: 0;
  font-weight: 400;
}
.sidebar{
  width: 215px;
}
.sidebar-area{
  position: absolute;
  height: 100%;
  width: 215px;
  right: 0;
  padding-top: 50px;
  top: 0px;
  background-color: #0c1d2b;
  color: #fff;
  padding: 30px 15px;
  z-index: 10000;
}
.code-area fieldset{
  border: none;
  padding: 0;
  margin: 10px 0;
  height: 100%;
}
.code-box__textarea{
  border: none;
  min-height: 300px;
  resize: none;
  font-size: 14px;
  width: 100%;
  outline: none;
  background-color: transparent;
  padding: 10px 0;
  line-height: 1.6;
}
.code-area form{
  min-height: 60%;
}
.code-area__title{
  font-size: 20px;
  margin-top: 0px;
}
.code-area__comments{
  color: #72747d;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
}
.sidebar-area a{
  font-size: 14px;
  color: #657079;
  text-decoration: none;
  display: block;
}
.sidebar-area .logo{
  text-align: center;
  margin-top: 35px;
}
.sidebar-area .logo img{
  width: 150px;
}
.icon{
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 10px;
  background-position: center top;
}
.icon-faq{
  float: right;
  margin-top: -10px;
  background-image: url("../images/question.png");
  background-size: 26px 26px;
  background-repeat: no-repeat;
}
.icon-arrow{
  float: right;
  background-image: url("../images/arrow.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
.icon-share{
  float: right;
  background-image: url("../images/share.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
.links-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.links-list_bottom{
  position: absolute;
  bottom: 0px;
  left: 0;
  width:  100%;
  padding: 15px 15px 0;
}
.hr,
.hr-2{
  border: none;
  border-bottom: 1px solid #152a3a !important;
}
.links-list__item a{
  padding: 15px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrap {
    width: 760px;
    padding: 0 10px;
  }
  .visible-sm {
    display: inline-block;
  }
  .visible-xs-sm {
    display: none;
  }
  .visible-xs {
    display: none;
  }
  .code-area_left, 
  .code-area_right{
    width: 100% !important;
    min-height: 400px;
    height: auto;
    float: none;
  }
  .code-area{
    overflow-x: scroll;
    margin-top:  0;
    position: relative;
    padding-top: 0;
  }
  .code-area_right {
    margin-top: 0;
  }
  .flex .hbox{
    overflow: scroll;
  }
  h1,
  .h1{
    margin: 10px 0 15px;
  }

}
@media (max-width: 767px) {
  .wrap {
    width: 100%;
    padding: 0 10px;
  }
  .visible-sm {
    display: block;
    margin: 0 auto;
  }
  .visible-xs {
    display: block !important;
    margin: 0 auto;
  }
  .flex.hbox{
    display: none;
  }
  .flex.vbox{
    overflow: initial;
  }
  .sidebar-area{
    display: block;
    width: 100%;
    text-align:  center;
  }
  .links-list{
    max-width: 380px;
    margin: 0 auto;
    min-width: 280px;
  }
  .links-list_bottom{
    position: relative;
    padding: 0;
  }
  .sidebar{
    position: relative;
    height: auto;
    min-height: 100%;
    width: 100%;
    margin-top: -50px;
  }
  .sidebar-area__box{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  .header{
    z-index: 10001;
  }
  .header .logo{
    font-size: 15px;
  }
  .z-index img{
    width: 120px;
  }
  .header .github-buttobs__list{
    display: none;
  }
  .github-buttobs__list{
    margin: 15px auto 5px;
    display:  block;
  }
  .github-buttobs__item{
    margin-right: 5px;
  }
}
